@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", serif;
}


header{
    background-color: rgb(139, 111, 179);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px ;
    margin: -7px ;
    margin-top: 15%;
}




.menu{
   
    right: 20px;
    padding: 20px;
    font-size: 25px;
    color: #ffff;
    text-decoration: none;
    display: inline-block; 
    margin-right: 70px;  
    text-align: left; 
    top:- 90px;
    text-decoration: none;
    font-family: italic;


}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

}

h1{
  
    font-size: 48px;
    font-style: italic;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    left: 80px;
    top: 90px;
    font-family: italic;
}



