@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", serif;
}
.table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 10px;
    font-weight: normal;
    letter-spacing: 1px;
}


.deletar{
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    left:60px;
    top: 36px;
}



.produtos{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
    padding: 20px;
    
   

}

.blocao{
    flex-direction: column;
    border-radius: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    border-radius: 8px;
    flex-wrap: wrap; 

 
}


.header-container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: rgb(106, 81, 130);
    height: 100%;
    padding: 20px;
    
}



.bloco{
    display: flex;
  background-color: rgb(222, 207, 232);
  border: 2px solid rgb(195, 166, 219);
  margin-top: -33px;
  align-items: center;


  
}

.produtos li{
    background-color: #c3b1e0; 
    border-radius: 8px; 
    width: 280px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.filter{
    padding: 20px;
    margin-top: 33px;
}

input{
    right: inherit;
}

h3{
    font-size:19px;
    font-style:normal ;
}

p{
    font-size: large;
    color: rgb(25, 3, 42);
    font-weight: bold;
    display: flex;
    align-items: center;
    left: 80px;
    top: 90px;
    font-family: monospace;
}
    


.button_alter{
    border-radius: 8px;
    cursor: pointer;
    right: 40px;

}

.pesquisar{
   

    display: flex;
    align-items: center;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 50;
    color: #b66edf;
    position: relative;
    top: -70px;
    left:65%;
    font-style: initial;

}
.colorbutton{
    display: flex;
    align-items: center;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    top: -120px;
    left: 87%;
    font-style: initial;


}

