.table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 10px;
    font-weight: normal;
    letter-spacing: 1px;
}


.deletar{
    border-radius: 8px;
    cursor: pointer;
}



.produtos{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
    padding: 20px;
}

.blocao{
    flex-direction: column;
    border-radius: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    border-radius: 8px;
    flex-wrap: wrap; 
 
}

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", serif;
}

.header-container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}








